In [26]:
import os
import random
import math
import pandas as pd
import geopandas as gpd

## Import final colonies shapefile (including UACs)

In [7]:
colonies_fp = '../spatial_index_python/shapefiles/Spatial_Index_GIS/Colony_Shapefile/USO23Aug2020.shp'

In [10]:
colonies = gpd.read_file(colonies_fp)

In [13]:
colonies.head()

,AREA,USO_AREA_U,HOUSETAX_C,USO_FINAL,geometry
0,NEW DELHI 36,5584,None,Planned,"POLYGON Z ((1020282.788 996796.773 0.000, 1020..."
1,NEW DELHI 35,5585,None,Planned,"POLYGON Z ((1019724.475 994932.797 0.000, 1019..."
2,NEW DELHI 34,5586,None,Planned,"POLYGON Z ((1019571.955 994876.019 0.000, 1019..."
3,NEW DELHI 33,5587,None,Planned,"POLYGON Z ((1019352.702 994352.546 0.000, 1019..."
4,NEW DELHI 32,5588,None,Planned,"POLYGON Z ((1018793.292 994224.182 0.000, 1018..."

## Get total count of UAC's and randomly select 5% of UACs for manual verification

In [18]:
uac = colonies[colonies['USO_FINAL'] == 'UAC']

In [19]:
num_uacs = len(uac)
print(num_uacs)

1684

In [27]:
# Calculate 5%
five_percent = math.ceil(num_uacs*0.05)
five_percent

85